<p id="notice"><%= notice %></p>

<%= render 'users/user', user: @user, tasks: @tasks, task_schedules: @task_schedules %>


<%= link_to 'Show', @user %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
